:root {
	--primary-color: #ee4d4d;
	--secondary-color: #a352ff;
}

/* Elementor devices */
input:focus,
textarea:focus,
select:focus {
	outline-offset: 0;
	outline: -webkit-focus-ring-color auto 0;
}

.woocommerce .woocommerce-ordering select {
	border: 1px solid #eaeaea;
	min-height: 45px;
	margin-bottom: 30px;
	border-radius: 0;
	border-width: 0 0 1px 0;
}

.woocommerce-cart .page-main-content,
.woocommerce-checkout .page-main-content,
.woocommerce-account .page-main-content {
	margin-top: 20px;
	margin-bottom: 50px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	padding: 0 0 15px;
	line-height: 1.4;
}

.sidebar-woo .widget-post img {
	width: 80px;
	height: 60px;
}

.sidebar.sidebar-woo .product_list_widget li img {
	position: absolute;
	left: 0;
	top: 0;
	width: 95px;
	height: 95px;
	border-radius: 8px;
}

.woocommerce ul.products li.product {
	padding-bottom: 20px;
}

.woocommerce ul.products li.product,
.woocommerce ul.products li.product img {
	position: relative;
	margin-bottom: 30px;
	border-radius: 8px;
	-webkit-transition: all ease 500ms;
	        transition: all ease 500ms;
}

.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .added_to_cart {
	padding: 7px 13px;
	color: #fff;
	border-radius: 0;
	-webkit-transition: 400ms;
	        transition: 400ms;
	font-weight: 400;
	right: 0;
	line-height: 1.4;
	max-width: 200px;
	margin: auto;
}

.woocommerce ul.products li.product .added_to_cart {
	color: rgba(var(--primary-color), 1);
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
	-webkit-transition: 400ms;
	        transition: 400ms;
	font-size: 20px;
}

.woocommerce .star-rating {
	color: #f8df04;
	font-size: 13px;
	margin-top: 0 !important;
}

.woocommerce .woocommerce-Reviews .star-rating {
	float: none;
	margin-bottom: 10px;
}

.sidebar.sidebar-woo .product_list_widget li .star-rating {
	margin-bottom: 6px;
}

.woocommerce ul.products li.product .star-rating {
	margin: auto auto 5px;
}

.woocommerce ul.products li.product:hover img {
	border-radius: 0;
}

.product_meta > span {
	font-size: 14px;
	display: block;
	color: #2c2f40;
	font-weight: 400;
	padding: 8px 0;
	text-transform: capitalize;
}

.woocommerce-checkout .single-post-wrapper p span {
	background: #fff;
	padding: 0;
}

.product_meta > span a,
.product_meta span.sku {
	color: #2c2f40;
	font-weight: 400;
}

.banner-area .woocommerce-breadcrumb,
.banner-area .woocommerce-breadcrumb a {
	color: #fff;
}

ul.products li,
.related.products ul li {
	-webkit-transition: all ease 500ms;
	        transition: all ease 500ms;
	text-align: center;
}

.woocommerce nav.woocommerce-MyAccount-navigation ul li a {
	color: #2c2f40;
	font-size: 16px;
	display: inline-block;
	padding: 20px 0;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	width: 50px;
	height: 50px;
	line-height: 35px;
	border: 1px solid #eaeaea;
	color: #2c2f40;
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
}

/* ul.products li:hover {
	box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
} */
.woocommerce nav.woocommerce-pagination ul li {
	border-right: none;
	margin: 0 10px 0 0;
}

.woocommerce nav.woocommerce-MyAccount-navigation ul li {
	border-bottom: 1px solid #e2e2e2;
	line-height: 0.8;
	list-style: outside none none;
	padding: 0 20px;
	position: relative;
	width: 100%;
}

.sidebar-woo .unstyled.service-time li {
	color: #232323;
}

.sidebar.sidebar-woo .product_list_widget li {
	padding-left: 120px;
	position: relative;
	margin-bottom: 12px;
	padding-bottom: 30px;
	min-height: 110px;
}

.related.products ul li:hover {
	box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.07);
}

.woocommerce-account .woocommerce-MyAccount-navigation {
	border: 3px solid #e2e2e2;
	color: #807f79;
}

.woocommerce nav.woocommerce-MyAccount-navigation ul {
	padding: 0;
	margin-bottom: 0;
}

.sidebar.sidebar-woo .product_list_widget li a {
	color: #2c2f40;
}

.sidebar.sidebar-woo .product_list_widget li del,
.sidebar.sidebar-woo .product_list_widget li ins {
	font-size: 15px;
	font-weight: 700;
	color: #777;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: var(--primary-color);
}

.woocommerce nav.woocommerce-MyAccount-navigation ul li:last-child {
	border: 0;
}

.woocommerce nav.woocommerce-pagination ul li a:hover {
	background-color: var(--primary-color);
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: #fff;
}

.woocommerce nav.woocommerce-pagination ul {
	border: none;
}

button:focus {
	outline: -webkit-focus-ring-color auto 0;
}

.woocommerce div.product form.cart .button {
	white-space: nowrap;
	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
	font-weight: 600;
	background: var(--primary-color);
	font-size: 15px;
	text-transform: uppercase;
	padding: 22px 60px 21px 60px;
	margin-right: 20px;
	letter-spacing: 0.3px;
}

.woocommerce div.product form.cart .button:hover {
	background: var(--secondary-color);
}

@media (max-width: 991px) {
	.woocommerce div.product form.cart .button {
		margin-bottom: 20px;
	}
}

.woocommerce .quantity .qty {
	width: 60px;
	height: 40px;
	border: 0;
	background-color: #2c2f40;
	color: #fff;
	-moz-appearance: textfield;
}

.woocommerce .quantity .qty::-webkit-outer-spin-button, .woocommerce .quantity .qty::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.woocommerce .quantity button.plus,
.woocommerce .quantity button.minus {
	font-size: 25px;
	background: transparent;
	border: 1px solid #eaeaea;
	height: 40px;
	vertical-align: middle;
	width: 30px;
	cursor: pointer;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-weight: 700;
	color: #2c2f40;
}

.woocommerce ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
	padding-left: 0;
}

.woocommerce ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li {
	margin-bottom: 15px;
}

.woo-xs-content {
	padding: 60px 0;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
	-webkit-box-flex: 48%;
	    -ms-flex: 48%;
	        flex: 48%;
	max-width: 48%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	-webkit-box-flex: 48%;
	    -ms-flex: 48%;
	        flex: 48%;
	max-width: 48%;
}

.woocommerce form .form-row:not(.form-row-first):not(.form-row-last) {
	float: none;
}

.woocommerce form .form-row label,
.woocommerce form #ship-to-different-address label {
	width: 100%;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 5px;
}

.woocommerce-input-wrapper {
	width: 100%;
}

.woocommerce form .form-row input {
	font-family: "Inter", sans-serif;
}

.woocommerce form .form-row input.input-text {
	height: 45px;
	padding: 0 20px;
	border: 1px solid #e0e2ee;
}

.woocommerce form .form-row input.input-text::-webkit-input-placeholder {
	color: #999;
}

.woocommerce form .form-row input.input-text:-ms-input-placeholder {
	color: #999;
}

.woocommerce form .form-row input.input-text::placeholder {
	color: #999;
}

.woocommerce table.my_account_orders {
	font-size: 1rem;
	border-collapse: collapse;
}

.woocommerce table.my_account_orders.account-orders-table > thead tr th {
	background: #f1f2fb;
	color: #2c2f40;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 15px;
	padding: 25px 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: 1px solid #e8e8e8;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: none;
	background: transparent;
	font-size: 18px;
	margin-right: 50px;
	font-weight: 700;
	padding: 0 5px 0 5px;
}

.woocommerce-order-details__title,
.cart_totals h2,
.cross-sells h2 {
	font-size: 26px;
}

.woocommerce-tabs.wc-tabs-wrapper {
	background: #f5f6fc;
	padding: 80px 60px;
	margin-bottom: 60px;
	margin-top: 50px;
	display: inline-block;
	width: 100%;
}

@media (max-width: 767px) {
	.woocommerce-tabs.wc-tabs-wrapper {
		padding: 30px;
	}
}

.woocommerce-Reviews .woocommerce-Reviews-title {
	display: none;
}

.woocommerce-tabs h2,
.related h2 {
	font-size: 26px;
	text-align: center;
}

.related.products h2 {
	margin-bottom: 20px;
}

.woo-xs-content article {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
	background: #fff;
	padding: 20px 20px 10px 20px !important;
}

.sidebar-woo {
	margin-bottom: 30px;
}

.woocommerce .woocommerce-result-count {
	margin-bottom: 40px;
	font-weight: 700;
	color: #2c2f40;
}

.woocommerce span.onsale {
	min-width: 3.436em;
	margin-right: 0 !important;
	min-height: 3.236em;
	top: 10px;
	left: 11px;
	border-radius: 50%;
	background: var(--primary-color);
}

.woocommerce-message {
	border-top-color: var(--primary-color);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	line-height: 1.3;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.woocommerce-message .button {
	margin-top: 10px !important;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

.woocommerce-message::before {
	color: var(--primary-color);
}

@media (min-width: 991px) {
	.woocommerce-message {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		line-height: 50px;
	}
	.woocommerce-message .button {
		margin-top: 0 !important;
	}
}

.woocommerce ul.products li.product .onsale {
	left: auto;
	top: 0;
	border-radius: 0;
	line-height: inherit;
	min-height: 2.236em;
	background-color: var(--primary-color);
}

.woocommerce ul.products li.product span.onsale::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 8px 8px;
	border-color: transparent transparent #737271 transparent;
	left: -8px;
	position: absolute;
	top: 0;
}

.sidebar.sidebar-right.sidebar-woo {
	margin-left: 0;
}

/* woocommerce tabs */
.widgets.woocommerce,
.sidebar-woo .widgets {
	margin-bottom: 30px;
}

.sidebar-woo .recent-post-widget .widget-posts .widget-post {
	margin-bottom: 0;
}

.woocommerce-product-gallery__wrapper {
	max-width: none;
}

/*Woocommerce end*/
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	max-width: none;
}

.woocommerce-variation.single_variation {
	margin-bottom: 30px;
}

.woocommerce div.product form.cart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.shopengine_swatches .swatch.swatch_label {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	border-color: #d4d6e5;
	background: transparent;
}

.single-product .shopengine_swatches .swatch.swatch_label {
	width: 30px;
	height: 30px;
	border: 1px solid #eaeaea;
	border-radius: 0;
}

.single-product .shopengine_swatches .swatch.swatch_label.selected {
	border-color: #2c2f40;
}

.shopengine_swatches .swatch.swatch_color {
	width: 35px;
	height: 35px;
	border-color: transparent !important;
}

.shopengine_swatches .swatch.swatch_color.selected::after {
	position: absolute;
	content: "";
	border: 3px solid #fff;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.shopengine_swatches.shopengine_swatches_in_loop {
	margin-bottom: 15px;
}

.shopengine_swatches.shopengine_swatches_in_loop .swatch_color {
	height: 15px;
	width: 15px;
}

.shopengine_swatches.shopengine_swatches_in_loop .swatch_color.selected::before {
	display: none;
}

.shopengine_swatches.shopengine_swatches_in_loop .swatch_color.selected::after {
	border: 2px solid #fff;
}

.shopengine_swatches .swatch_color.selected {
	border-color: #eaeaea;
}

.woocommerce div.product form.cart .variations td.label {
	text-align: left;
	width: 100%;
	margin-bottom: -20px;
}

.woocommerce div.product form.cart .variations select {
	height: 50px;
	padding: 0 20px 0 15px;
	border-color: #eaeaea;
}

section.up-sells.upsells.products h2 {
	font-size: 26px;
	margin-bottom: 20px;
}

.woocommerce .wc-tabs-wrapper .wc-tabs {
	padding-left: 0 !important;
}

.woocommerce ul.products li.product .price {
	font-weight: 700;
	font-size: 17px;
	color: #777;
}

/* shop single  */
.woocommerce div.product form.cart .woocommerce-grouped-product-list-item__quantity .button {
	width: auto;
	color: #fff;
}

.woocommerce div.product p.price {
	color: #666;
	font-weight: 700;
	margin-bottom: 15px;
}

.woocommerce div.product p.price ins {
	text-decoration: none;
}

.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: 25px;
	line-height: 1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border: none;
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom: 2px solid var(--primary-color);
	background: transparent;
}

.woocommerce div.product div.images .flex-control-thumbs {
	margin-top: 30px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	padding: 0 15px 0 0;
}

.sidebar.sidebar-woo .woocommerce-product-search {
	position: relative;
}

.sidebar.sidebar-woo .woocommerce-product-search .search-field {
	border: 1px solid #eaeaea;
	border-radius: 36px;
	-webkit-border-radius: 36px;
	-ms-border-radius: 36px;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
}

.sidebar.sidebar-woo .woocommerce-product-search button {
	position: absolute;
	right: 0;
	height: 50px;
	padding: 0 15px;
	border: 1px solid #eaeaea;
	border-top-right-radius: 36px;
	border-bottom-right-radius: 36px;
	background: var(--primary-color);
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}

.woocommerce form .form-row .select2-selection--single {
	border: 1px solid #eaeaea;
	border-radius: 0;
	height: 45px;
	padding: 8px 20px;
}

.woocommerce form .form-row .select2-selection__arrow {
	top: 8px;
}

.woocommerce form .form-row .woocommerce-input-wrapper textarea.input-text {
	padding: 15px;
	min-height: 100px;
	border: 1px solid #eaeaea;
	resize: none;
}

.checkout.woocommerce-checkout .woocommerce-checkout-review-order {
	padding-left: 17px;
}

/* woocommerce  style */
.woocommerce table.cart td.actions {
	text-align: left;
}

@media (min-width: 1200px) {
	.woocommerce table.cart td.actions {
		text-align: right;
	}
}

.woocommerce table.cart td.actions .coupon {
	margin-bottom: 15px;
}

.woocommerce table.cart td.actions .input-text {
	width: 100%;
	padding: 12px 20px !important;
}

@media (min-width: 575px) {
	.woocommerce table.cart td.actions .input-text {
		width: 48%;
	}
}

.woocommerce table.cart td.actions button.button,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button,
.woocommerce button.button.alt,
.woocommerce a.button {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
	border-radius: 0;
	color: #fff;
	background: var(--primary-color);
	padding: 16px 30px;
	-webkit-transition: all ease 500ms;
	        transition: all ease 500ms;
}

.woocommerce table.cart td.actions button.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce button.button.alt:hover,
.woocommerce a.button:hover {
	background: var(--secondary-color);
	color: #fff;
}

.woocommerce .checkout-button.button.alt.wc-forward {
	border-radius: 0;
	background: var(--primary-color);
}

.woocommerce .checkout-button.button.alt.wc-forward:hover {
	background: var(--secondary-color);
}

.woocommerce-Reviews .comment-reply-title {
	font-weight: 700;
	color: #2c2f40;
	font-size: 18px;
}

.woocommerce-Reviews #review_form_wrapper {
	background: #fbfbfb;
	padding: 50px;
	border-radius: 10px;
}

@media (max-width: 767px) {
	.woocommerce-Reviews #review_form_wrapper {
		padding: 30px;
	}
	.woocommerce .col2-set .col-1,
	.woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-2 {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		max-width: 100%;
	}
}

.woocommerce-Reviews .comment-form p label {
	display: block;
}

.woocommerce-Reviews .comment-form p input[type="text"],
.woocommerce-Reviews .comment-form p input[type="email"] {
	width: 100%;
	border: 1px solid #eaeaea;
	padding: 0 20px;
	min-height: 50px;
}

.woocommerce-Reviews .comment-form p textarea {
	min-height: 150px;
	border: 1px solid #eaeaea;
	padding: 20px;
}

.woocommerce-Reviews .comment-form p.comment-form-cookies-consent label {
	display: inline-block;
	margin-left: 10px;
}

.woocommerce .woocommerce-Reviews .commentlist {
	padding: 40px 20px 20px;
	background-color: #fbfbfb !important;
	margin-bottom: 30px !important;
	border-radius: 10px;
}

.woocommerce .woocommerce-Reviews ol.commentlist li.review .comment_container .comment-text {
	border: none !important;
	padding: 0 !important;
	margin: 0 0 0 80px !important;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	width: 50px;
}

.woocommerce .woocommerce-Reviews .meta strong {
	text-transform: capitalize;
}

.woocommerce .woocommerce-Reviews #review_form #respond .form-submit input {
	padding: 18px 30px;
	background: var(--primary-color);
	color: #fff;
	font-size: 15px;
	font-weight: 400;
}

.woocommerce td.product-name dl.variation dt {
	margin: 0;
}

/* checkout page */
.woocommerce .col2-set,
.woocommerce-page .col2-set {
	width: 60%;
}

.woocommerce-checkout {
	clear: both;
}

.woocommerce-checkout.woocommerce .col2-set,
.woocommerce-checkout.woocommerce-page .col2-set {
	width: 53%;
	float: left;
	margin-right: 15px;
}

.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row-first,
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row-last {
	float: left;
	width: 50%;
}

@media (max-width: 767px) {
	.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row-first,
	.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row-last {
		width: 100%;
	}
}

@media (max-width: 992px) {
	.woocommerce-checkout.woocommerce .col2-set,
	.woocommerce-checkout.woocommerce-page .col2-set {
		width: 100%;
		float: none;
		margin-right: 15px;
	}
}

@media (min-width: 992px) {
	.woocommerce-checkout #order_review_heading,
	.woocommerce-checkout #order_review {
		float: right;
		width: 45%;
	}
}

.woocommerce-checkout #order_review {
	padding: 30px;
	background: #f7f7f7;
}

.woocommerce-checkout.woocommerce .col2-set .col-1,
.woocommerce-checkout.woocommerce-page .col2-set .col-1,
.woocommerce-checkout.woocommerce .col2-set .col-2,
.woocommerce-checkout.woocommerce-page .col2-set .col-2 {
	-webkit-box-flex: 100%;
	    -ms-flex: 100%;
	        flex: 100%;
	max-width: 100%;
	float: none;
	width: 100%;
}

.woocommerce-checkout .woocommerce form p.form-row {
	margin: 0 0 15px;
}

.woocommerce-checkout .woocommerce-additional-fields h3 {
	margin-bottom: 10px;
}

.woocommerce-checkout .woocommerce-info {
	background: transparent;
	padding: 0;
	border-top: none;
	text-align: center;
}

.woocommerce-checkout .woocommerce-info::before {
	display: none;
}

.woocommerce-checkout .col-lg-10.mx-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	max-width: 100%;
}

.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 1rem;
}

.woocommerce-checkout .entry-content article {
	margin-top: 0;
}

.woocommerce-checkout .main-container {
	padding-top: 0;
}

.woocommerce-shipping-fields .woocommerce-form__label input,
.woocommerce-account-fields .woocommerce-form__label input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none !important;
	cursor: pointer;
}

.woocommerce-shipping-fields .woocommerce-form__label span,
.woocommerce-account-fields .woocommerce-form__label span {
	position: relative;
	cursor: pointer;
}

.woocommerce-shipping-fields .woocommerce-form__label span::before,
.woocommerce-account-fields .woocommerce-form__label span::before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #eaeaea;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
}

.woocommerce-shipping-fields .woocommerce-form__label input:checked + span::after,
.woocommerce-account-fields .woocommerce-form__label input:checked + span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 9px;
	width: 6px;
	height: 14px;
	border: solid var(--primary-color);
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	width: 100% !important;
}

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
	background: #fff;
	padding: 0 20px 20px;
}

.archive .wooshop .page-title {
	display: none;
}

.checkout_coupon.woocommerce-form-coupon .form-row.form-row-first {
	width: 53%;
}

.checkout_coupon.woocommerce-form-coupon .form-row .input-text {
	height: 50px;
}

.woocommerce .woocommerce-info {
	border-top-color: var(--primary-color);
}

.woocommerce .woocommerce-info.cart-empty {
	padding-top: 12px;
	padding-bottom: 12px;
}

.woocommerce .woocommerce-info::before {
	color: var(--primary-color);
}

.woocommerce .return-to-shop {
	margin: 0 0 0 30px;
}

.woocommerce .return-to-shop .button:hover {
	background: var(--secondary-color);
}

.woocommerce .woocommerce-MyAccount-content h3 {
	font-size: 22px;
	margin-bottom: 10px;
	line-height: 1.3;
}

.woocommerce .woocommerce-MyAccount-content fieldset {
	border: 1px solid #e0e2ee;
	margin-top: 30px;
}

.woocommerce .woocommerce-MyAccount-content fieldset legend {
	font-size: 22px;
	font-weight: 600;
	text-transform: capitalize;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-Button {
	margin-top: 20px;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-notices-wrapper + p {
	font-size: 20px;
	line-height: 24px;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-notices-wrapper + p + p {
	font-size: 16px;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-notices-wrapper + p + p a {
	text-decoration: underline;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 15px;
	color: #2c2f40;
	font-weight: 600;
}

@media (max-width: 767px) {
	.woocommerce .woocommerce-MyAccount-content .woocommerce-info {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-info .woocommerce-Button {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	margin-top: 0;
}

@media (max-width: 767px) {
	.woocommerce .woocommerce-MyAccount-content .woocommerce-info .woocommerce-Button {
		margin-top: 15px;
	}
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-info::before {
	top: auto;
}

.woocommerce .shopengine-wishlist ins,
.woocommerce .shopengine-wishlist del,
.woocommerce .shopengine-wishlist .onsale-off {
	font-weight: 500;
}

.woocommerce .shopengine-wishlist del {
	color: #9498af;
}

.woocommerce .shopengine-wishlist .onsale-off {
	display: block;
}

.woocommerce .shopengine-wishlist .shopengine-badge.shopengine-discount-badge {
	display: none;
}

.woocommerce .woocommerce-customer-details address {
	line-height: 28px;
	border-radius: 0;
	padding: 30px;
	border: 1px solid #eaeaea;
}

.woocommerce table.shop_table.order_details td {
	padding-top: 0;
}

.woocommerce table.shop_table.order_details td a {
	padding-top: 10px;
}

.woocommerce-form-login-toggle .woocommerce-info {
	margin-bottom: 10px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border-radius: 0;
}

.woocommerce form.login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.woocommerce form.login > p {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
}

.woocommerce form.login > p:nth-child(3) {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
}

@media (max-width: 767px) {
	.woocommerce form.login > p:nth-child(3) {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
	}
}

.woocommerce form.login .woocommerce-LostPassword.lost_password {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	margin: 7px 0 0;
	line-height: 1;
	text-align: right;
}

@media (max-width: 767px) {
	.woocommerce form.login .woocommerce-LostPassword.lost_password {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		text-align: left;
	}
}

.woocommerce form.login .woocommerce-LostPassword.lost_password a {
	color: var(--primary-color);
	font-size: 14px;
}

.woocommerce form.login .woocommerce-LostPassword.lost_password a:hover {
	color: var(--secondary-color);
}

.woocommerce-thankyou-order-received {
	margin-bottom: 50px;
	padding: 3%;
	width: 100%;
	border: 2px dashed #42ba96;
	color: #42ba96;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.4;
}

.woocommerce-thankyou-order-details,
.wc-bacs-bank-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	--list-mb: 10px;
	--li-mb: 20px;
	text-align: center;
}

.woocommerce .grouped_form .group_table {
	margin-bottom: 30px;
	padding-bottom: 20px;
}

.woocommerce .grouped_form .group_table td:first-child {
	width: 10em !important;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table,
.woocommerce-order-received .woocommerce-order-details {
	background: #fff;
	border: none !important;
	padding: 20px;
	margin-bottom: 0 !important;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table thead > tr > th,
.woocommerce-checkout .woocommerce-checkout-review-order-table tbody > tr > th,
.woocommerce-checkout .woocommerce-checkout-review-order-table tfoot > tr > th,
.woocommerce-checkout .woocommerce-checkout-review-order-table thead > tr > td,
.woocommerce-checkout .woocommerce-checkout-review-order-table tbody > tr > td,
.woocommerce-checkout .woocommerce-checkout-review-order-table tfoot > tr > td,
.woocommerce-order-received .woocommerce-order-details thead > tr > th,
.woocommerce-order-received .woocommerce-order-details tbody > tr > th,
.woocommerce-order-received .woocommerce-order-details tfoot > tr > th,
.woocommerce-order-received .woocommerce-order-details thead > tr > td,
.woocommerce-order-received .woocommerce-order-details tbody > tr > td,
.woocommerce-order-received .woocommerce-order-details tfoot > tr > td {
	border: none !important;
	text-align: right;
	font-size: 14px;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table thead > tr > th,
.woocommerce-order-received .woocommerce-order-details thead > tr > th {
	border-bottom: 1px solid #eaeaea !important;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table tr .product-name,
.woocommerce-checkout .woocommerce-checkout-review-order-table .cart-subtotal th,
.woocommerce-checkout .woocommerce-checkout-review-order-table .woocommerce-shipping-totals th,
.woocommerce-checkout .woocommerce-checkout-review-order-table .order-total th,
.woocommerce-order-received .woocommerce-order-details tr .product-name,
.woocommerce-order-received .woocommerce-order-details .cart-subtotal th,
.woocommerce-order-received .woocommerce-order-details .woocommerce-shipping-totals th,
.woocommerce-order-received .woocommerce-order-details .order-total th {
	text-align: left !important;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table .cart-subtotal th,
.woocommerce-checkout .woocommerce-checkout-review-order-table .cart-subtotal td,
.woocommerce-order-received .woocommerce-order-details .cart-subtotal th,
.woocommerce-order-received .woocommerce-order-details .cart-subtotal td {
	border-top: 1px solid #eaeaea !important;
	padding-top: 10px;
}

.woocommerce-checkout .woocommerce-checkout-review-order-table .order-total th,
.woocommerce-checkout .woocommerce-checkout-review-order-table .order-total td,
.woocommerce-order-received .woocommerce-order-details .order-total th,
.woocommerce-order-received .woocommerce-order-details .order-total td {
	border-bottom: 1px solid #eaeaea !important;
	border-top: 1px solid #eaeaea !important;
	padding: 20px 10px;
	font-size: 15px;
	font-weight: 800;
}

.woocommerce-checkout #payment div.payment_box {
	background-color: #eaeaf7;
}

.woocommerce-checkout #payment div.payment_box::before {
	border-bottom-color: #eaeaf7;
}

.woocommerce-order-received .woocommerce-order-details {
	padding: 0;
	margin-bottom: 40px !important;
}

.woocommerce-order-received .woocommerce-order-details .woocommerce-table {
	padding: 30px;
	border-radius: 0;
}

.woocommerce-order-received .woocommerce-order-details .woocommerce-table thead tr th {
	font-weight: 700;
	text-transform: uppercase;
}

.woocommerce-order-received .woocommerce-order-details .woocommerce-table tr th,
.woocommerce-order-received .woocommerce-order-details .woocommerce-table tr td {
	border: none;
	text-align: left;
}

.woocommerce-order-received .woocommerce-order-details .woocommerce-table tr .product-total,
.woocommerce-order-received .woocommerce-order-details .woocommerce-table tfoot tr td {
	text-align: right;
}

.woocommerce-order-received .woocommerce-order-details .woocommerce-table tfoot tr:last-child th,
.woocommerce-order-received .woocommerce-order-details .woocommerce-table tfoot tr:last-child td {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: var(--primary-color);
	padding-top: 20px;
	border-top: 1px solid #eaeaea !important;
}

.woocommerce-order-received .woocommerce-order-details__title,
.woocommerce-order-received .woocommerce-column__title {
	font-size: 22px;
}

.woocommerce-order-received .woocommerce-customer-details .woocommerce-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

@media (min-width: 992px) {
	.woocommerce-order-received .woocommerce-customer-details .woocommerce-columns .woocommerce-column {
		max-width: 50%;
	}
}

.woocommerce-order-received .woocommerce-customer-details .woocommerce-columns address {
	border: none;
	padding: 0;
	font-style: italic;
}

.woocommerce-pagination {
	margin-top: 10px;
}

.woocommerce-pagination ul li {
	margin-right: 10px;
}

.shopengine-comparison table tbody tr td .price {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce div.product .stock {
	color: var(--primary-color);
}

.woocommerce div.product .summary .shopengine-wishlist.badge,
.woocommerce div.product .summary .shopengine-comparison.badge {
	margin-right: 20px;
	border: 1px solid #d4d6e5;
	width: 64px;
	height: 64px;
	text-align: center;
	line-height: 54px;
	border-radius: 0;
	font-size: 20px;
	color: #2c2f40;
}

@media (max-width: 767px) {
	.woocommerce div.product .summary .shopengine-wishlist.badge,
	.woocommerce div.product .summary .shopengine-comparison.badge {
		margin-right: 15px;
	}
}

.woocommerce div.product .summary .shopengine-wishlist.badge.active,
.woocommerce .products .product .summary .shopengine-wishlist.badge.active {
	color: var(--primary-color);
}

.woocommerce div.product .summary .shopengine-wishlist.badge {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

.woocommerce div.product .summary .shopengine-comparison.badge {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

.woocommerce div.product form.cart div.quantity {
	margin: 0 0 30px 0;
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.woocommerce div.product form.cart .variations label {
	text-transform: capitalize;
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
	content: "";
}

.single-product .single-product-breadcrumb-area {
	padding: 30px 0;
}

.single-product .breadcrumb li {
	padding-left: 0;
	padding-right: 30px;
	color: #95969f;
	font-size: 14px;
	font-weight: 600;
}

.single-product .breadcrumb li:not(:first-child)::before {
	left: -18px;
	background: #2c2f40;
}

.single-product .breadcrumb li a {
	color: #2c2f40;
}

.single-product .breadcrumb li a:hover {
	color: var(--primary-color);
}

.single-product .main-container {
	padding: 0 0 50px;
	overflow: hidden;
}

.single-product .shopengine-swatches .shopengine-wishlist,
.single-product .shopengine-swatches .shopengine_comparison_add_to_list_action {
	font-size: 18px;
	color: #2c2f40;
	background: #fff;
	border-style: solid;
	border: 1px solid #d4d6e5 !important;
	padding: 23px 23px 23px 23px;
}

.single-product .shopengine-swatches .shopengine-wishlist:hover,
.single-product .shopengine-swatches .shopengine_comparison_add_to_list_action:hover {
	background: var(--primary-color);
	color: #fff;
	border-color: transparent !important;
}

.single-product .shopengine-swatches .shopengine-wishlist {
	margin-right: 20px;
}

.single-product .woocommerce-variation-add-to-cart {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: -20px;
}

.single-product .woocommerce-variation-add-to-cart.woocommerce-variation-add-to-cart-enabled {
	margin-top: 0;
}

.single-product .variations tr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.single-product .variations tr td {
	text-align: left;
}

.single-product .variations tr td label {
	color: #2c2f40;
}

.single-product .woocommerce-review-link {
	color: #2c2f40;
	text-transform: capitalize;
	font-size: 14px;
}

.single-product .woocommerce-review-link:hover {
	color: var(--primary-color);
}

.single-product .product_meta {
	border-top: 1px solid #d4d6e5;
	padding-top: 20px;
}

.single-product .woocommerce-product-details__short-description p {
	margin-bottom: 10px;
}

.single-product .woocommerce-variation-price {
	margin-bottom: 20px;
}

.single-product .woocommerce-variation-price .price {
	font-weight: 700;
	color: #9498af;
}

.single-product .woocommerce-variation-price .price bdi {
	color: var(--primary-color);
	margin-right: 5px;
}

.single-product .woocommerce-variation-price .price .onsale-off {
	color: #9498af;
}

.single-product .woocommerce-variation-availability .stock {
	font-size: 16px;
}

@media (max-width: 768px) {
	.single-product .entry-summary {
		margin-top: 30px;
	}
	.single-product div.product div.images,
	.single-product div.product div.summary {
		width: 100%;
		float: none;
	}
}

.woocommerce.woocommerce-account .col2-set,
.woocommerce-page.woocommerce-account .col2-set {
	width: 100%;
}

.woocommerce .comment-content > *,
.woocommerce .entry .entry-summary > *,
.woocommerce .entry-content > *,
.woocommerce-page .comment-content > *,
.woocommerce-page .entry .entry-summary > *,
.woocommerce-page .entry-content > * {
	margin: 0 0 20px;
}

.woocommerce .woocommerce-breadcrumb {
	font-size: 14px;
	color: #2c2f40;
	max-width: 1140px;
	margin: 30px auto 25px;
	padding: 0 15px;
}

.woocommerce .woocommerce-breadcrumb .bascart-breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.woocommerce .woocommerce-breadcrumb .bascart-breadcrumb li {
	position: relative;
	padding-right: 15px;
	margin-right: 15px;
	font-weight: 600;
	color: #95969f;
}

.woocommerce .woocommerce-breadcrumb .bascart-breadcrumb li a {
	color: #2c2f40;
}

.woocommerce .woocommerce-breadcrumb .bascart-breadcrumb li a:hover {
	color: var(--primary-color);
}

.woocommerce .woocommerce-breadcrumb .bascart-breadcrumb li::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	background: #bfc0c5;
	top: 50%;
	right: 0;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.woocommerce .woocommerce-breadcrumb .bascart-breadcrumb li:last-child::after {
	display: none;
}

.woocommerce-notices-wrapper {
	width: 100%;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 23px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme .woocommerce-form__input-checkbox {
	margin-right: 10px;
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

.wishlist-product-name {
	margin: 0;
	line-height: 1.4;
}

.wishlist-product-name a {
	font-weight: 600;
	color: #2c2f40;
}

.wishlist-product-name a:hover {
	color: var(--primary-color);
}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
	display: none;
}

.shopengine-template .main-container {
	overflow: hidden;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
	border: none;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul {
	list-style: none;
	margin-top: 0;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
	list-style: none;
	margin-bottom: 10px !important;
	padding: 0 40px 0 80px;
	border-bottom: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
		padding: 0 20px 0 60px !important;
	}
}

@media (max-width: 1024px) {
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
		padding: 0 20px 0 60px;
	}
}

@media (max-width: 767px) {
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li {
		padding: 0 25px 0 65px;
	}
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:nth-child(1) {
	background: rgba(0, 153, 255, 0.08);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:nth-child(2) {
	background: rgba(184, 1, 238, 0.08);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:nth-child(3) {
	background: rgba(9, 204, 151, 0.08);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:nth-child(4) {
	background: rgba(246, 156, 0, 0.08);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:nth-child(5) {
	background: rgba(238, 77, 77, 0.08);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:nth-child(6) {
	background: rgba(41, 0, 255, 0.08);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li:nth-child(7) {
	background: rgba(255, 0, 255, 0.08);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:nth-child(1) {
	border: 2px solid #0099ff !important;
	box-shadow: 0 15px 40px rgba(0, 153, 255, 0.04);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:nth-child(2) {
	border: 2px solid #b801ee !important;
	box-shadow: 0 15px 40px rgba(184, 1, 238, 0.04);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:nth-child(3) {
	border: 2px solid #09cc97 !important;
	box-shadow: 0 15px 40px rgba(9, 204, 151, 0.04);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:nth-child(4) {
	border: 2px solid #f69c00 !important;
	box-shadow: 0 15px 40px rgba(246, 156, 0, 0.04);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:nth-child(5) {
	border: 2px solid #ee4d4d !important;
	box-shadow: 0 15px 40px rgba(238, 77, 77, 0.04);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:nth-child(6) {
	border: 2px solid #2900ff !important;
	box-shadow: 0 15px 40px rgba(41, 0, 255, 0.04);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active:nth-child(7) {
	border: 2px solid magenta !important;
	box-shadow: 0 15px 40px rgba(255, 0, 255, 0.04);
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100px;
	font-weight: 600;
	position: relative;
}

@media (max-width: 1024px) {
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a {
		height: 60px;
		line-height: 1;
	}
}

@media (max-width: 767px) {
	.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a {
		height: 60px;
	}
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a::before {
	font-family: elementskit, sans-serif !important;
	font-size: 20px;
	position: absolute;
	display: block !important;
	width: auto !important;
	height: auto !important;
	border-radius: 0;
	content: "" !important;
	left: -40px !important;
	top: 50% !important;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	margin: 0;
	border: none !important;
	opacity: 1 !important;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a::after {
	content: "\e9c5";
	font-family: elementskit, sans-serif !important;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 30px;
	        flex: 0 0 30px;
	height: 30px;
	line-height: 27px;
	text-align: center;
	border: 2px solid rgba(44, 47, 64, 0.15);
	border-radius: 50%;
	font-size: 12px;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a::before {
	content: "\eb96" !important;
	color: #09f;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a::before {
	content: "\e9cf" !important;
	color: #b801ee;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a::before {
	content: "\e865" !important;
	color: #09cc97;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a::before {
	content: "\e973" !important;
	color: #f69c00;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a::before {
	content: "\e82a" !important;
	color: #ee4d4d;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--wishlist a::before {
	content: "\e9ce" !important;
	color: #2900ff;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a::before {
	content: "\e820" !important;
	color: #f0f;
}

@media (min-width: 992px) {
	.woocommerce-account .woocommerce-MyAccount-content {
		width: 65%;
	}
}

@media (max-width: 768px) {
	.woocommerce-account .woocommerce-MyAccount-content {
		margin-top: 50px;
	}
}

.woocommerce-account .woocommerce-Addresses .woocommerce-Address .title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 10px;
}

.woocommerce-account .woocommerce-Addresses .woocommerce-Address .title::before, .woocommerce-account .woocommerce-Addresses .woocommerce-Address .title::after {
	display: none;
}

.woocommerce-account .woocommerce-Addresses .woocommerce-Address .title h3 {
	font-size: 22px;
	line-height: 1.2;
	margin: 0;
}

.woocommerce-account .woocommerce-Addresses .woocommerce-Address header .edit {
	background: var(--secondary-color);
	border-radius: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 20px;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.3px;
}

.woocommerce-account .woocommerce-Addresses .woocommerce-Address header .edit:hover {
	background: var(--primary-color);
}

.woocommerce-account .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .form-row {
	padding-left: 3px;
	padding-right: 3px;
}

.woocommerce-account .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .form-row-first,
.woocommerce-account .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .form-row-last {
	float: left;
	width: 50%;
}

.woocommerce-account .woocommerce-address-fields .button {
	margin-top: 20px;
}

.woocommerce-account .woocommerce-MyAccount-orders .woocommerce-orders-table__cell-order-number a {
	color: #00c16d;
}

.woocommerce-account .woocommerce-MyAccount-orders td {
	color: #6a6d79;
	padding: 25px 10px !important;
}

.woocommerce-account .woocommerce-MyAccount-orders .woocommerce-button {
	background: var(--secondary-color);
	padding: 13px 20px;
}

.woocommerce-account .woocommerce-MyAccount-orders .woocommerce-button:hover {
	background: var(--primary-color);
}

.woocommerce-account .shop_table.order_details {
	border-radius: 0;
	border-collapse: collapse;
}

.woocommerce-account .shop_table.order_details tfoot tr th,
.woocommerce-account .shop_table.order_details tfoot tr td,
.woocommerce-account .shop_table.order_details tbody tr th,
.woocommerce-account .shop_table.order_details tbody tr td {
	text-align: left;
	padding: 10px 20px;
	color: #6a6d79;
}

.woocommerce-account .shop_table.order_details tfoot tr th.download-remaining,
.woocommerce-account .shop_table.order_details tfoot tr td.download-remaining,
.woocommerce-account .shop_table.order_details tbody tr th.download-remaining,
.woocommerce-account .shop_table.order_details tbody tr td.download-remaining {
	text-align: center;
}

.woocommerce-account .woocommerce-customer-details address {
	padding: 20px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-radius: 0;
}

.woocommerce-account .woocommerce-column__title,
.woocommerce-account .woocommerce-order-details__title {
	font-size: 22px;
	line-height: 1.2;
}

.woocommerce-account .woocommerce-table--order-downloads thead {
	background: #f1f2fb;
}

.woocommerce-account .woocommerce-table--order-downloads .button.alt.woocommerce-MyAccount-downloads-file {
	background: var(--secondary-color);
}

.woocommerce-account .woocommerce-table--order-downloads .button.alt.woocommerce-MyAccount-downloads-file:hover {
	background: var(--primary-color);
}

.woocommerce-account .table del,
.woocommerce-account .table .onsale-off {
	display: none;
}

.woocommerce-account .table > thead > tr > th {
	padding: 28px 20px;
	line-height: 1;
	font-size: 15px;
}

.woocommerce-account .table > thead > tr > th:first-child {
	text-align: left;
	padding-left: 30px;
}

.woocommerce-account .table > tbody > tr > td {
	font-weight: 600;
}

.woocommerce-account .table > tbody > tr > td:first-child {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 30px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

@media (max-width: 767px) {
	.woocommerce-account .table > tbody > tr > td:first-child {
		padding: 10px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
	}
}

.woocommerce-account .table > tbody > tr > td:nth-child(3) {
	color: #04d45e;
}

.woocommerce-account .table .wishlist-product-name {
	padding-left: 20px;
	max-width: 200px;
	font-size: 16px;
	line-height: 24px;
}

@media (max-width: 767px) {
	.woocommerce-account .table .wishlist-product-name {
		padding-left: 0;
		font-size: 14px;
		line-height: 20px;
		padding-top: 20px;
	}
}

.woocommerce-account .table .wishlist-product-name a {
	color: #2c2f40;
}

.woocommerce-account .table .wishlist-product-name a:hover {
	color: var(--primary-color);
}

.woocommerce-account .table .woocommerce-Price-amount.amount {
	font-weight: 600;
}

.woocommerce-account .shopengine-remove-action {
	color: #fff;
	font-weight: 500;
	font-size: 10px;
	cursor: pointer;
	background: var(--primary-color);
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	line-height: 20px;
}

.product-type-simple .size-title {
	display: none;
}

.ajax_add_to_cart.added i::before {
	display: none;
}

.ajax_add_to_cart.added::after {
	margin-left: 5px;
	margin-top: -3px;
}

.woocommerce-breadcrumb {
	display: block;
}

.woocommerce-cart .main-container {
	padding: 0 0 50px;
}

.woocommerce-cart .main-container .col-lg-10.mx-auto {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
	max-width: 100%;
}

.woocommerce-cart .woocommerce {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.woocommerce-cart form.woocommerce-cart-form {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 66.666667%;
	        flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

@media (max-width: 768px) {
	.woocommerce-cart form.woocommerce-cart-form {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
	}
}

.woocommerce-cart form.woocommerce-cart-form .shop_table {
	padding: 0 15px 15px;
	border-radius: 0;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table thead tr th {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 14px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 15px 0;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table thead tr th.product-name {
	text-align: left !important;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr {
	position: relative;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr th,
.woocommerce-cart form.woocommerce-cart-form .shop_table tr td {
	border: 0;
	font-weight: 600;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 30px 15px;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr td.product-remove {
	padding: 0;
	position: absolute;
	left: 93px;
	border: none;
	top: 14px;
}

@media (min-width: 1024px) and (max-width: 1199px) {
	.woocommerce-cart form.woocommerce-cart-form .shop_table tr td.product-remove {
		left: -5px;
		top: 15px;
	}
}

@media (max-width: 1023px) {
	.woocommerce-cart form.woocommerce-cart-form .shop_table tr td.product-remove {
		left: 0;
		top: 5px;
	}
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr td.product-remove a {
	background: var(--primary-color);
	color: #fff !important;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr td.product-thumbnail {
	padding: 25px 0;
	text-align: left;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr td.product-thumbnail img {
	width: 100px;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr a.remove {
	width: 26px;
	height: 26px;
	line-height: 23px;
	font-size: 16px;
	padding-left: 1px;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr:last-child td {
	border-bottom: none;
	padding: 20px 0 5px;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr .product-name {
	text-align: left !important;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr .product-name a {
	color: #232323;
	text-decoration: none;
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr .product-name a:hover {
	color: var(--primary-color);
}

.woocommerce-cart form.woocommerce-cart-form .shop_table tr .product-quantity .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.woocommerce-cart form.woocommerce-cart-form table.cart td.actions button.button {
	background-color: #f3f3f3;
	color: #101010;
}

.woocommerce-cart form.woocommerce-cart-form table.cart td.actions button.button:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.woocommerce-cart form.woocommerce-cart-form table.cart td.actions .coupon .input-text {
	height: 50px;
	border-color: #eaeaea;
	border-radius: 0;
}

.woocommerce-cart form.woocommerce-cart-form table.cart td.actions .coupon button.button {
	background: var(--primary-color);
	color: #fff;
}

.woocommerce-cart form.woocommerce-cart-form table.cart td.actions .coupon button.button:hover {
	background: var(--secondary-color);
}

.woocommerce-cart .cart-collaterals {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.333333%;
	        flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 50px;
}

@media (max-width: 768px) {
	.woocommerce-cart .cart-collaterals {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		        flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
	}
}

.woocommerce-cart .cart-collaterals .cross-sells {
	width: 100%;
	float: none;
}

.woocommerce-cart .cart-collaterals .cross-sells .row [class*="col-"] {
	max-width: 100%;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
}

.woocommerce-cart .cart-collaterals .cross-sells .shop-loop-item .add-to-cart-hover-box {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.woocommerce-cart .cart-collaterals .cart_totals {
	width: 100%;
	float: none;
}

.woocommerce-cart .cart-collaterals .shop_table {
	border: 0;
}

.woocommerce-cart .cart-collaterals .shop_table tr th {
	text-align: left;
}

.woocommerce-cart .cart-collaterals .shop_table tr td {
	text-align: right;
}

.woocommerce-cart .cart-collaterals .shop_table tr td,
.woocommerce-cart .cart-collaterals .shop_table tr th {
	padding: 15px 0;
}

.woocommerce-cart .cart-collaterals .shop_table tr.order-total th,
.woocommerce-cart .cart-collaterals .shop_table tr.order-total td {
	font-size: 15px;
	font-weight: 800;
	background: transparent;
}

.woocommerce-cart-form__cart-item .product-name {
	width: 255px;
}

@media (min-width: 1024px) and (max-width: 1199px) {
	.woocommerce-cart-form__cart-item .product-name {
		max-width: 155px;
	}
}

@media (max-width: 1023px) {
	.woocommerce-cart-form__cart-item .product-name {
		width: 100%;
	}
}

.woocommerce-cart-form__cart-item .product-name a {
	font-size: 16px;
	font-weight: 700;
}

.bascart-checkout-steps {
	text-align: center;
	padding: 80px 0 60px;
}

@media (max-width: 768px) {
	.bascart-checkout-steps {
		margin-bottom: 40px;
	}
}

.bascart-checkout-steps ul {
	padding: 0;
	margin: 0;
}

.bascart-checkout-steps ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 22px;
	font-weight: 700;
	padding: 0 40px 0 0;
	position: relative;
	margin-right: 10px;
	color: #d5d5d9;
}

.bascart-checkout-steps ul li a {
	color: #d5d5d9;
	font-size: 22px;
	letter-spacing: 0.2px;
	text-transform: capitalize;
}

.bascart-checkout-steps ul li a:hover {
	color: #2c2f40;
}

.bascart-checkout-steps ul li:not(:last-child)::after {
	content: "\e92e";
	font-family: xtsicon, sans-serif !important;
	position: absolute;
	right: 0;
	font-size: 18px;
	top: 2px;
}

.bascart-checkout-steps ul li.step-active,
.bascart-checkout-steps ul li.step-active a {
	color: #2c2f40;
}

.bascart-checkout-steps ul li.step-cart a, .bascart-checkout-steps ul li.step-final a {
	color: #2c2f40;
}

.woocommerce-shop .tagcloud a,
.shopengine-archive .tagcloud a {
	background: transparent;
	border: 1px solid #d4d6e5;
	text-transform: capitalize;
	font-weight: 600;
	color: #2c2f40;
	padding: 0 15px;
	line-height: 36px;
	height: 36px;
	margin: 0 10px 10px 0;
	font-size: 14px !important;
}

.woocommerce-shop .tagcloud a:hover,
.shopengine-archive .tagcloud a:hover {
	color: #fff;
}

.woocommerce-shop .shopengine-category-filter-list .shopengine-filter-category-toggle span,
.shopengine-archive .shopengine-category-filter-list .shopengine-filter-category-toggle span {
	border: none !important;
	position: absolute;
	top: 5px;
	left: 0;
	font-family: "xtsicon";
	line-height: 1;
	font-size: 16px;
}

.woocommerce-shop .shopengine-category-filter-list .shopengine-filter-category-toggle span::before,
.shopengine-archive .shopengine-category-filter-list .shopengine-filter-category-toggle span::before {
	content: "\e911";
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	position: absolute;
}

.woocommerce-shop .shopengine-category-filter-list .isActive .shopengine-filter-category-toggle span,
.shopengine-archive .shopengine-category-filter-list .isActive .shopengine-filter-category-toggle span {
	-webkit-transform: rotate(0deg) !important;
	        transform: rotate(0deg) !important;
}

.woocommerce-shop .shopengine-category-filter-list .isActive .shopengine-filter-category-toggle span::before,
.shopengine-archive .shopengine-category-filter-list .isActive .shopengine-filter-category-toggle span::before {
	content: "\e911";
}

.shopengine-remove-action.badge-comparison {
	text-decoration: none;
}

.shopengine-comparison .comparison-table-wrap table td {
	border-style: solid;
	border-color: #eaeaea;
}

.shopengine-comparison .comparison-table-wrap table .compare-cart-btn {
	padding-top: 10px;
	text-decoration: none;
	background-color: var(--primary-color);
}
